.card {
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: transparent;
  border: none;

  &__button {
    position: relative;
    background-color: #000;
    border: none;
    border-radius: 3px;
    transition: all 0.5s ease-in;

    &:hover {
      cursor: pointer;
      transform: scale(1.02) translateY(-2px);
    }
  }

  &__photo {
    display: block;
    width: 240px;
    height: 340px;
    object-fit: cover;
    border-radius: 5px;
    opacity: 1;
    image-rendering: optimizeQuality;
  }

  &__info {
    padding: 10px 5px 11px 5px;
    background-color: $main-text-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 10px 10px;
  }

  &__title {
    max-width: 240px;
    margin: 0;
    margin-top: 0.5em;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 500;
    font-size: 19px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__info-container {
    width: 240px;
    margin-top: 0.5em;
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: $secondary-text-color;
  }
}
