@keyframes load {
  from {
    left: -150px;
  }
  to {
    left: 100%;
  }
}

.skeleton {
  width: 200px;
  height: 300px;
  background-color: rgba(229, 228, 226, 0.1);
  border-radius: 3px;
  position: relative;
  overflow: hidden;

  &-container {
    width: 220px;
  }

  &-name {
    margin-top: 0.3em;
    height: 19.55px;
    width: 117px;
    position: relative;
    overflow: hidden;
    background-color: rgba(229, 228, 226, 0.1);
    border-radius: 3px;
  }

  &-info {
    width: 200px;
    margin-top: 0.5em;
    display: flex;
    justify-content: space-between;
  }

  &-year {
    width: 65px;
    height: 16.1px;
    position: relative;
    overflow: hidden;
    background-color: rgba(229, 228, 226, 0.1);
    border-radius: 3px;
  }

  &-duration {
    width: 90px;
    height: 16.1px;
    position: relative;
    overflow: hidden;
    background-color: rgba(229, 228, 226, 0.1);
    border-radius: 3px;
  }
}

.animated::before {
  content: '';
  display: block;
  position: absolute;
  left: -200px;
  top: 0;
  height: 100%;
  width: 150px;
  background: linear-gradient(to right, transparent 0%, rgba(229, 228, 226, 0.3) 50%, transparent 100%);
  animation: load 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}
