.card {
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: transparent;
  border: none;

  &__button {
    position: relative;
    background-color: #000;
    border: none;
    border-radius: 3px;
    transition: all 0.5s ease-in;

    &:hover {
      cursor: pointer;
      transform: scale(1.02) translateY(-2px);
    }
  }

  &__rating {
    display: block;
    position: absolute;
    padding: 1px 4px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.5);
    left: 2px;
    top: 2px;
    font-weight: 900;
    font-size: 17px;

    &_color_red {
      color: #e61919;
    }

    &_color_green {
      color: #19e619;
    }
  }

  &__photo {
    display: block;
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 3px;
    opacity: 1;
  }

  &__info {
    padding: 10px 5px 11px 5px;
    background-color: $main-text-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 10px 10px;
  }

  &__title {
    max-width: 210px;
    margin: 0;
    margin-top: 0.3em;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 500;
    font-size: 17px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__info-container {
    width: 200px;
    margin-top: 0.5em;
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: $secondary-text-color;
  }
}
