.film {
  &__name {
    font-weight: 900;
    font-size: 3.5em;
    margin-bottom: 30px;
  }

  &__content {
    display: flex;
    padding: 0 0 2.5% 0;
    font-family: 'Inter', Arial, sans-serif;

    @media screen and (max-width: 950px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__info {
    max-width: 100%;
    margin-left: 3%;
    list-style: none;
    font-size: 1.02em;

    @media screen and (max-width: 500px) {
      margin-left: 0;
    }
  }

  &__info-title {
    font-weight: 500;
    font-size: 2em;
    margin-bottom: 5%;
  }

  &__info-item {
    margin-bottom: 4%;
  }

  &__container {
    width: 60%;
    position: relative;

    @media screen and (max-width: 950px) {
      width: 100%;
    }

    @media screen and (max-width: 500px) {
      width: 80%;
    }
  }

  &__ratings-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
  }

  &__rating-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__rating-count {
    margin-bottom: 5%;
  }
}

#yohoho {
  width: 100% !important;
}
