.film {
  &__name {
    font-weight: 900;
    font-size: 60px;
  }

  &__container {
    width: 700px;
    position: relative;
  }
}

#yohoho-iframe {
  width: 700px !important;
  height: 400px !important;
}
