@import 'colors';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  max-width: 1600px;
  min-width: 300px;
  margin: 0 auto;
  background-color: $background-color;
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 400;
  color: $main-text-color;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 20px 5px;
  justify-items: center;
}
