@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  box-sizing: border-box;
  width: 100vw;
  min-width: 300px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 5%;
  padding-top: 20px;
  background-color: $background-color;
  font-family: 'Montserrat', Arial, sans-serif;
  color: $main-text-color;

  @media screen and (max-width: 1280px) {
    padding: 0 3%;
  }
}

#root {
  height: 100%;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 40px 5px;
  justify-items: center;
}

.cards-container_place_top {
  margin-top: 50px;
}

.top-link {
  display: block;
  color: $main-text-color;
  text-decoration: none;

  &_last {
    margin-bottom: 50px;
  }
}
