.page-navigation {
  width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  &_place_top-list {
    margin-top: 70px;
    margin-bottom: 100px;
  }

  &__link {
    text-decoration: none;
    width: 30px;
    height: 30px;
    background-size: 20px;
    padding: 10px;

    &_dir_next {
      background-image: url('../img/next-page.svg');
      background-repeat: no-repeat;
      background-position: center center;
    }

    &_dir_prev {
      background-image: url('../img/previous-page.svg');
      background-repeat: no-repeat;
      background-position: center center;
    }

    &_disabled {
      visibility: hidden;
    }
  }
}
