$background-color: #171836;
$secondary-background-color: rgba(41, 43, 98, 0.8);
$main-text-color: rgb(255, 255, 255);
$secondary-text-color: rgba(255, 255, 255, 0.9);
$pointed-accent-color: rgb(255, 166, 0);

$z-index-chat: 2147483648;
